#container{
  height: 674px;
  width: 674px;
  border: 1px solid black;
  margin: 0 auto;
}
.boxes{
  height:200px;
  width: 200px;
  background: green;
  border: 1px solid black;
  display:inline-block;
  padding: 10px;
  vertical-align: top;
  font-size: 200px;
  text-align:center;
}
button{
  height: 15px;
  width: 100px;
  text-align: center;
}
